body{
    margin: 0px;
}
p,a,li,label{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
body{
    /*display: grid;*/
    /*grid-template-rows: 125px auto auto auto auto auto;*/
    /*grid-template-areas:*/
    /*        "header"*/
    /*        "mast"*/
    /*        "sec1"*/
    /*        "sec2"*/
    /*        "sec3"*/
    /*        "footer";*/
    background-color: #5e35b1;
}
.header{
    display: flex;
    background-color: #125784;
    width: 100%;
    height: 125px;
    align-items: center;
    column-gap: 350px;
    grid-area: header;
}
header > .navdiv > nav{
    display: flex;
    text-decoration: none;
}
header > .navdiv > nav > li{
    list-style: none;
    display: flex;
    padding: 0 15px;
    border-right: 2px solid white;
    color: white;
}
header > .navdiv > nav > li:last-child{
    border-right: none;
}
.logodiv{
    height: 110px;
    flex-grow: 1;
}
.logodiv a img{
    height: 100%;
    width: auto;
}
.masthead{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url("../img/img1.jpg");
    background-size: cover;
}
.masthead > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
.masthead > div > h1{
    color: white;
}
.sec1{
    display: grid;
    grid-area: sec1;
    grid-template-columns: 70% 30%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.sec1-2{
    background-color: #f57f17;
}
.sec2{
    display: grid;
    grid-area: sec2;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.sec3{
    grid-area: sec3;
    margin: 0px;
    padding: 0px;
}
.footer{
    grid-area: footer1;
    display: flex;
}